* {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Montserrat';
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
  height: 100%;
  justify-content: space-between;
  height: 97vh;
}

.header {
  width: 95%;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid black;
  align-items: center;
  padding: 10px;
  cursor: hover;
}

.header .menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header .menu ul li {
 padding: 0 15px;
 border-left: 1px solid black;
 color: grey;
}

.header .menu ul li:first-child {
  border-left: 0;
 }

 .datentime {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0;
  padding: 0;
 }

.list-section {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  padding: 10px;
  
}

.list {
  margin-top: 4%;
  margin-bottom: 2%;
  border: 3px solid black;
}

.list .book {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list .book span {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
}

.list .book:nth-child(2n){
  background-color: #f2f2f2;
}

.remove-form input[type='submit'] {
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 3px 3px black;
  border-radius: 8px;
}

.dash {
  border-bottom: 3px solid black;
  width: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 50px;
}

.add-form {
  width: 30%;
  margin-top: 2%;
}

.add-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.add-form form input[type='text'] {
  width: 95%;
  margin: 5px 0;
  padding: 0 10px;
  height: 30px;
}

.add-form form input[type='submit'] {
  width: 70px;
  height: 30px;
  float: right;
}

.table-footer{
  width: 100%;
}

.copyright{
  bottom: 5px;

  height: 50px;
  color: black;
  border: 3px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.active {
  color: blue !important;
  font-weight: 600;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  margin-bottom: 2%;
}

.show { 
  display: flex;
}

.hide {
  display: none;
}